<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>
		<h2>商品登録フォーム</h2>
		<form method="post" action="/items/submit">
			<label>商品名</label><input type="text" name="name"><br>
			<label>価格</label><input type="number" name="price"><br>
			<label>画像URL</label><input type="text" name="image"><br>
			<label>商品説明</label><input type="text" name="memo"><br>
			<label>カテゴリー</label>
			<select name="categoryId">
				<option value="1">アクセサリー</option>
				<option value="2">バッグ・財布</option>
				<option value="3">雑貨</option>
				<option value="4">キッズ</option>
				<option value="5">その他</option>
			</select><br>
			<button type="submit">登録する</button>
		</form>
	</body>

</html>