<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
</head>

<body>
	<div th:replace="fragments/header_user :: header"></div>

	<main>
		<div>
			<p><img th:src="@{'/images/items/' + ${item.image}}" alt="商品画像"></img></p>
			<p>価格:<span th:text="${item.price}+'円'"></span></p>
		</div>

		<div>
			<p>出品者:<span th:text="${item.account.name}+'さん'"></span> <a href="/user/1/detail">プロフィールを見る</a></p>
			<p>商品名:<span th:text="${item.name}"></span></p>
			<p>商品詳細:<br><span th:text="${item.memo}"></span></p>
		</div>
		<form action="/order" method="get">
		<button >購入する</button>
		</form>
		<a href="/">一覧へ</a>
	</main>
	</body>
	
	</html>
	