<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>
		<div th:replace="fragments/header_user :: header"></div>

		<main>
			<div>

				<p><img th:src="@{'/images/items/' + ${item.image}}" alt="商品画像"></p>
				<p>価格:<span th:text="${item.price}"></span></p>
			</div>

			<div>
				<p>出品者:<span th:text="${item.account.name}"></span>
					<a th:href="@{/mypage/user/{id}/detail(id=${item.account.id})}">出品者プロフィールを見る</a>
				</p>
				<p>商品名:<span th:text="${item.name}"></span></p>
				<p>商品詳細:<br><span th:text="${item.memo}"></span></p>

			</div>

			<form th:action="@{/order/{itemId}(itemId=${item.id})}" method="get">
				<button th:disabled="${item.soldOut}" th:title="${item.soldOut ? '売り切れのため購入できません' : ''}"
					style="padding: 8px 16px; font-size: 16px;"
					th:styleappend="${item.soldOut} ? ';background-color: #ccc; color: #666; cursor: not-allowed;' : ''">
					<span th:text="${item.soldOut ? '売り切れ' : '購入する'}"></span>
				</button>
			</form>
			<form th:action="@{/chat}" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<input type="hidden" name="ownerId" th:value="${item.account.id}">
				<button>チャットを始める</button>
			</form>
			<a href="/">一覧へ</a>
		</main>
	</body>

</html>