<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>レビュー投稿</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body class="min-h-screen bg-[#fffcd8]">

	<header class="bg-[linear-gradient(to_bottom,_#86cdd2_90%,_#FFFDDA_100%)] px-8 flex justify-between items-center">
		<h1 class="w-[358px] mx-auto">
			<img th:src="@{/img/Frame 2.png}" alt="MadeForUロゴ" />
		</h1>
		</h1>
	</header>

	<main>

		<div class="text-center text-2xl font-bold m-16 text-[var(--main-color)]">
			<h1 class="text-3xl">レビュー投稿</h1>
		</div>

		<!-- 対象ユーザーの情報表示 -->
		<div class="w-3/5 mx-auto mb-16 p-8 gap-6 rounded-lg bg-[#f7f1e4] border border-[#d4bfa3] shadow-sm">
			<div class="w-4/5 mx-auto border-b border-b-[#d4bfa3] mb-6">
				<div class="mb-2">
					<span>レビュー対象:</span>
					<span class="text-xl font-bold">[[${reviewee.name}]]</span>
					<span>（ニックネーム:</span>
					<span class="text-xl">[[${reviewee.nickname}]]</span>
					<span>）</span>
				</div>
				<div class="mb-6">
					<span>プロフィール:</span>
					<span th:text="${reviewee.profile}">プロフィール文</span>
				</div>
			</div>

			<div class="w-4/5 mx-auto">
				<p th:if="${error}" th:text="${error}" style="color: red;"></p>
				<!-- レビュー投稿フォーム -->
				<form method="post" th:action="@{/review/submit}">
					<input type="hidden" name="revieweeId" th:value="${reviewee.id}" />

					<label for="score">評価（1〜5）:</label>
					<select id="score" class="mb-2 border-none rounded">
						<option value="1">★☆☆☆☆</option>
						<option value="2">★★☆☆☆</option>
						<option value="3">★★★☆☆</option>
						<option value="4">★★★★☆</option>
						<option value="5">★★★★★</option>
					</select>

					<div>
						<div class="mb-4">
							<label for="reviewText">レビュー内容:</label>
						</div>
						<textarea name="reviewText" id="reviewText" rows="5" cols="50"
							class="w-full border mb-4 p-4 border-[#d4bfa3] bg-gray-50 resize-none rounded-xl"
							required></textarea>
					</div>

					<div class="text-center">
						<button type="submit" class="bg-[#FFB69E] text-white px-6 py-2 rounded-full cursor-pointer
           hover:bg-[#ffa88c] transition-colors duration-300">
							投稿
						</button>
					</div>

				</form>
				<!-- 戻るリンク -->
				<p><a th:href="@{/items}">← 商品一覧へ戻る</a></p>
			</div>

		</div>

	</main>
</body>

</html>