HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Node 関連
node_modules/
package-lock.json

# Tailwind の設定ファイル（リモートでは使わない）
postcss.config.mjs
tailwind.config.js
package.json

# Tailwind の元CSS
src/main/resources/static/css/input.css

# 開発環境のwatch用ビルドファイルなど
dist/
*.css.map

# その他
.DS_Store
.env
.idea/
*.iml
*.class
target/
.gradle/
build/
tailwind.config.mjs
