<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>マイページ</title>
  </head>

  <body>
    <div th:replace="fragments/header_account :: header"></div>
    <h2>マイページ</h2>

    <p>ようこそ、ユーザー名さん</p>

    <ul>
      <li><a href="/mypage/update">プロフィール編集</a></li>
      <li><a href="/items/new">商品を登録する</a></li>
      <!-- ← ここが導線 -->
      <li>出品中の商品一覧のリンク</li>
    </ul>

    <div>
      <h3 th:text="${@account.name}"></h3>
      <span>評価：</span><span></span>
    </div>

    <div>
      <a th:href="@{/mypage(id=1)}">気になる</a>
      <a th:href="@{/mypage(id=2)}">購入履歴</a>
      <a th:href="@{/mypage(id=3)}">出品</a>
      <a th:href="@{/mypage(id=4)}">評価</a>
    </div>
  </body>
</html>
