<header
  class="fixed top-0 left-0 w-full z-50 h-[100px] bg-[linear-gradient(to_bottom,_#7eccda_1%,_#c5f2fb_90%,_#d1f5ff_100%)] px-8 py-3 flex justify-between items-center"
>
  <!-- 左：ロゴ -->

  <a th:href="@{/}" class="w-1/7">
    <img th:src="@{/images/content/logo.png}" alt="MadeForUロゴ" />
  </a>

  <!-- 右：ユーザー関連 -->
  <div class="flex items-center ml-4 space-x-4">
    <div class="flex items-center space-x-4 ml-auto">
      <!-- ログインしている場合 -->
      <th:block th:if="${session.account != null}">
        <a
          th:href="@{/mypage}"
          class="flex flex-col items-center text-sm text-white hover:underline"
        >
                         <img
		  	th:if="${@myAccount.icon} != null"
            th:src="@{'/images/users/' + ${@myAccount.icon}}"
            alt="ユーザー"
            class="w-15 mt-2 rounded-full border border-white"
          />

		  <img
		  th:if="${@myAccount.icon} == null"
		  th:src="@{/images/users/unknownIcon.svg}"
		  alt="ユーザー"
		  class="w-15 mt-2 rounded-full border border-white">
          <p
            class="text-[var(--text-items)] mt-0.5 text-sm"
            th:text="${session.account.nickname}"
          ></p>
        </a>

        <!--  通知とログアウト-->
        <div class="flex items-center space-x-4 ml-4">
          <a class="block group" th:href="@{/account/logout}">
            <img
              title="ログアウト"
              class="opacity-60 w-10 transition-transform duration-200 ease-in-out group-hover:animate-bounce"
              src="/images/content/logout.png"
            />
          </a>

          <details class="group relative">
            <!-- 通知アイコン（summary） -->
            <summary
              class="list-none group-hover:animate-bounce cursor-pointer"
            >
              <img title="通知" class="w-10" src="/images/content/bell.png" />
            </summary>

            <!-- 通知リスト（ul） -->
            <ul
              class="absolute top-full mt-2 right-0 w-64 bg-white border border-gray-300 rounded-md shadow-md p-4 z-50 hidden group-open:block"
              th:if="${unreadChats}"
              th:each="chat : ${unreadChats}"
            >
              <li class="mb-2 last:mb-0">
                <a
                  th:href="@{'/chat?chatId=' + ${chat.id}}"
                  th:text="${chat.item.name} + 'に新規メッセージ'"
                  class="block text-blue-700 hover:text-blue-900 text-sm underline"
                ></a>
              </li>
            </ul>
          </details>
        </div>
      </th:block>
    </div>
  </div>
</header>
