<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body class="min-h-screen overflow-y-hidden bg-[#d1f5ff]">
    <header
      class="bg-[linear-gradient(to_bottom,_#7eccda_1%,_#c5f2fb_90%,_#d1f5ff_100%)]"
    >
      <h1 class="w-[358px] mx-auto">
        <img th:src="@{/images/Frame2.png}" alt="MadeForUロゴ" />
      </h1>
    </header>

    <main class="mt-4">
      <form
        method="post"
        th:action="@{/account/login}"
        class="max-w-md mx-auto h-[500px] bg-[var(--bg-form)] shadow-md rounded-[66px] px-16 pt-6 space-y-9 pb-7 flex flex-col"
      >
        <div class="relative text-center">
          <h2 class="text-2xl text-[var(--main-color)]">ログイン</h2>
          <span
            class="absolute -bottom-8 left-1/2 -translate-x-1/2 text-red-500 text-sm w-full"
            th:if="${message}"
            th:text="${message}"
          >
          </span>
        </div>

        <!-- メールアドレス -->
        <div class="flex flex-col mt-4">
          <div class="flex">
            <label class="text-sm text-[var(--text-color)]">
              メールアドレス<span class="text-red-500">*</span>
            </label>
          </div>
          <input
            class="border-b border-[var(--main-color)] focus:outline-none"
            type="email"
            name="email"
          />
        </div>

        <!-- パスワード -->
        <div class="flex flex-col mt-4">
          <div class="flex">
            <label class="text-sm text-[var(--text-color)]">
              パスワード<span class="text-red-500">*</span>
            </label>
          </div>
          <input
            class="border-b border-[var(--main-color)] focus:outline-none"
            type="password"
            name="password"
          />
        </div>

        <!-- ログインボタン -->
        <div class="text-right">
          <button class="primary-button w-30 text-lg" type="submit">
            ログイン
          </button>
        </div>

        <a
          class="text-[var(--main-color)] block mt-auto underline"
          th:href="@{/account/register}"
        >
          新規登録はこちら
        </a>
      </form>
    </main>
  </body>
</html>
