<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body class="min-h-screen relative overflow-y-hidden bg-[var(--top-color)]">
    <div th:replace="fragments/header_login :: header"></div>

    <main class="pt-15">
      <form
        method="post"
        th:action="@{/account/login}"
        class="max-w-md mx-auto h-[500px] bg-[var(--bg-form)] shadow-md rounded-[66px] px-16 pt-6 space-y-9 pb-7 flex flex-col"
      >
        <div class="relative text-center">
          <h2 class="text-2xl text-[var(--main-color)]">ログイン</h2>
          <span
            class="absolute -bottom-8 left-1/2 -translate-x-1/2 text-red-500 text-sm w-full"
            th:if="${message}"
            th:text="${message}"
          >
          </span>
        </div>

        <!-- メールアドレス -->
        <div class="form-group mt-4 relative">
          <input
            id="email"
            name="email"
            type="email"
            placeholder=" "
            class="peer form-input"
          />
          <label for="email" class="form-label"> メールアドレス</label>
          <span
            th:if="${emailMessage}"
            th:text="${emailMessage}"
            class="absolute top-0 left-1/2 -translate-x-1/2 w-full text-center text-red-500 text-xs"
          ></span>
        </div>

        <!-- パスワード -->
        <div class="form-group mt-4 relative">
          <input
            id="password"
            name="password"
            type="password"
            placeholder=" "
            class="peer form-input"
          />
          <label for="password" class="form-label"> パスワード</label>
          <span
            th:if="${passMessage}"
            th:text="${passMessage}"
            class="absolute top-0 left-1/2 -translate-x-1/2 w-full text-center text-red-500 text-xs"
          ></span>
        </div>

        <!-- ログインボタン -->
        <div class="text-center mt-8">
          <button class="primary-button w-full text-lg" type="submit">
            ログイン
          </button>
        </div>
        <div class="flex justify-between">
          <a href="/" class="text-[var(--main-color)] text-right underline"
            >TOPへ</a
          >
          <a
            class="text-[var(--main-color)] block mt-auto underline"
            th:href="@{/account/register}"
          >
            新規登録はこちら
          </a>
        </div>
      </form>
    </main>

    <!-- 波アニメーション -->
    <div class="absolute bottom-[-1px] left-0 w-full overflow-hidden">
      <svg
        class="w-full h-[120px]"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 
             58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="wave-parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(59,154,186,0.4)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(59,154,186,0.25)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(59,154,186,0.15)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="7"
            fill="rgba(59,154,186,0.3)"
          />
        </g>
      </svg>
    </div>
  </body>
</html>
