<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新規登録</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <!-- ロゴ部分 -->

  <body class="bg-[#FFFDDA]">
    <header
      class="bg-[linear-gradient(to_bottom,_#86cdd2_90%,_#FFFDDA_100%)] px-8 flex items-center"
    >
      <h1 class="mx-auto">
        <img src="../static/img/Frame 2 (1).png" class="w-[400px]" alt="ロゴ" />
      </h1>
    </header>

    <div class="relative p-4 mt-[100px] bg-[#dfcbaf]">
      <div class="absolute right-[15%] top-[-50%]">
        <img src="../static/img/Group 8.png" class="w-[180px]" />
      </div>

      <h2 class="ml-[10%] tracking-widest text-white text-4xl">MyPage</h2>

      <div class="mt-10 ml-[20%] flex">
        <p class="text-white text-5xl">
          <span>山田</span><span class="ml-7">花子</span>
        </p>
        <!-- ⭐ 平均評価表示 -->

        <div class="ml-auto mt-6 ext-3xl flex text-4xl">
          <p class="text-[#fff697] mr-5">評価:</p>
          <div class="relative text-yellow-400 w-fit leading-none">
            <!-- 空の星 -->
            <div class="text-gray-300 tracking-[10px] mr-11">★★★★★</div>
            <!-- 評価分の星（上に重ねる） -->
            <div
              class="absolute top-0 left-0 overflow-hidden tracking-[10px] text-[#fff697]"
              id="rating-fill"
            >
              ★★★★
            </div>
          </div>
          <img
            src="../static/img/icon (1).png"
            class="w-1/8 ml-auto mr-10 transform translate-y-[-9px]"
            alt=""
          />
        </div>
      </div>
    </div>

    <nav
      class="mt-10 mx-auto flex justify-center border-t border-b border-[#997c5a] text-[#997c5a] bg-[#fffbd3] h-12 items-stretch text-center text-2xl"
    >
      <div
        class="flex items-center px-20 border-x bg-[#fcdd7b] shadow border-[#997c5a] box-border"
      >
        <a href="#" class="px-6">気になる</a>
      </div>
      <div class="flex items-center px-20 border-[#997c5a] box-border">
        <a href="#" class="px-6">購入履歴</a>
      </div>
      <div class="flex items-center px-20 border-[#997c5a] box-border">
        <a href="#" class="px-6">出品</a>
      </div>
      <div class="flex items-center px-20 box-border">
        <a href="#" class="px-6">評価</a>
      </div>
    </nav>
    <!-- 🔹 商品一覧 -->
    <main class="mt-10 px-10 py-6 grid grid-cols-3 gap-9 w-[80%] mx-auto">
      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img src="../static/img/Frame 16.png" alt="" class="w-full" />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>
      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img src="../static/img/革のキーケース.png" alt="" class="w-full" />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>
      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img src="../static/img/ネックレス.png" alt="" class="w-full" />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>

      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img src="../static/img/Frame 18.png" alt="" class="w-full" />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>
      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img
          src="../static/img/ビーズブレスレット.png"
          alt=""
          class="w-full"
        />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>
      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img src="../static/img/レジンピアス.png" alt="" class="w-full" />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>
      <a
        href="/item/1"
        class="relative rounded-[33px] overflow-hidden group block"
      >
        <!-- 商品画像 -->
        <img src="../static/img/Frame 18.png" alt="" class="w-full" />

        <!-- 値段 -->
        <div
          class="absolute bottom-0 text-white w-full text-right pr-4 py-2 text-lg font-bold bg-gradient-to-l from-black/36 to-transparent"
        >
          ¥1,500-
        </div>

        <!-- ホバー時に表示される「商品詳細へ →」 -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-white/70 text-[#6b4e35] text-xl font-semibold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          商品詳細へ →
        </div>
      </a>
    </main>
  </body>
</html>
